{% extends _layout %}

{% block content %}
	
	<h3>Group Pertanyaan</h3>

	<table class="table table-condensed">
		<thead>
		<tr>
			<th>Nama Group</th>
			<th>Jumlah Pertanyaan</th>
			<th>Jumlah Alumni</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for group in groups %}
			<tr>
				<td>{{ anchor(group.admin_url(), group.description) }}</td>
				<td>{{ group.questions().count() }}</td>
				<td>{{ group.users().count() }}</td>
				<td>
					<div class="btn-group">
					{{ anchor('admin/groups/edit/' ~ group.id, 'edit', 'class="btn btn-mini"') }}
					{{ anchor('admin/groups/delete/' ~ group.id, 'delete', 'class="btn btn-mini delete"') }}
					</div>
					{{ anchor(group.admin_url(), 'lihat detail &raquo;', 'class="btn btn-mini btn-primary"') }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}