{% extends _layout %}

{% block content %}

	<div class="page-header">
		<h5>Pertanyaan ke {{ question.order }}</h5>
		<h3>{{ question.title }}</h3>
	</div>
	<p>{{ question.meta().description }}</p>

	<form action="{{ site_url('questions/answer/' ~ question.meta_table ~ '/' ~ question.id) }}" method="post">
		{% include 'questions/form_' ~ question.meta_table ~ '.html.twig' %}
		{% if question.answers().exists() %}
			<span class="label label-success">
				Anda sudah mengisi pertanyaan ini.
			</span>
		{% endif %}
		<hr>
		<div class="btn-group">
			{% if question.prev().exists() %}
				{{ anchor(question.prev().url(), '&laquo; Kembali ke pertanyaan sebelumnya', 'class="btn"') }}
			{% endif %}

			{% if question.answers().exists() %}
				{{ anchor(question.next().url(), 'Lewati ke pertanyaan selanjutnya &raquo;', 'class="btn"') }}
			{% else %}
				<input type="submit" value="Simpan dan lanjutkan &raquo;" 
					class="btn btn-primary">
			{% endif %}
		</div>
	</form>

	<hr>

{% endblock %}