<hr>

<ul class="nav nav-list">
	<li>{{ anchor('#', 'Home') }}</li>
	<li id="bio">{{ anchor('bio', 'Data Alumni') }}</li>
	<li id="questions">{{ anchor('questions', 'Tracer Study') }}</li>
	<li id="competences">{{ anchor('competences', 'Kompetensi') }}</li>
	<li id="suggestions">{{ anchor('suggestions', 'Saran') }}</li>
	<li>{{ anchor('#', 'Rekomendasi') }}</li>

</ul>