<hr>

<ul class="nav nav-list">
	<li id="bio">{{ anchor('bio', '1. Data Alumni') }}</li>
	<li id="questions">{{ anchor('questions', '2. Tracer Study') }}</li>
	<li id="competences">{{ anchor('competences', '3. Kompetensi') }}</li>
	<li id="suggestions">{{ anchor('suggestions', '4. Saran') }}</li>
	<li id="recommendations">{{ anchor('recommendations', '5. Rekomendasi') }}</li>

</ul>