<hr>

<ul class="nav nav-list">
	<li>{{ anchor('#', 'Home') }}</li>
	<li id="bio">{{ anchor('bio', '&check; Data Diri') }}</li>
	<li>{{ anchor('#', 'Study Tracer') }}</li>
	<li id="competences">{{ anchor('competences', 'Kompetensi') }}</li>
	<li id="suggestions">{{ anchor('suggestions', 'Saran') }}</li>
	<li>{{ anchor('#', 'Rekomendasi') }}</li>

</ul>